.section {
    font-size: 1em;
    line-height: 180%;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    color: #434142;
    text-align: center;
    background-color: #e9e9e9;
}

#fp-nav ul li a span {
    background: #fff !important;
}

.fp-slidesNav ul li a span{
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nanum Myeongjo', serif;
}

.slide img {
    width: 100%;
}

strong {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-top: 0.5em;
}

.sec-main {
    color: #fffafa;
    /*color: #e9e9e9;*/
    text-shadow: 2px 2px 4px #000;
    background-image: url('/img/IMG_1304.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sec-main a {
    /*color: #434142;*/
    color: #fffafa;
    text-decoration: none;
}

.sec-gallery {
    background-color: #000;
}

.welcome {
    margin: 2.5em auto;
}
